* {
    box-sizing: border-box;
}


@media (max-width: 480px)   {
    

body    {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'header'
        'top'
        'lowtop'
        'topmiddle'
        'middle'
        'lowmiddle'
        'toplow'
        'low'
        'lowlow'
        'bottom'
        'footer';
}


#Hero, #exhibT, #exhibD, #visit, #cosmoD    {
    display: none;
}

@font-face {
    font-family: "Bebas_Neue";
    src: url(./media/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url(./media/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

h1  {
    font-size: 24px;
    font-family: 'Bebas Neue', serif;
}

h2  {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

p   {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

section#header  {
    position: relative;
}

.logo   {
    height: 40px;
    margin: 5px 0 4px 0;
    align-items: center;
}

#headerdivide {
    margin: 0%;
}


section#top {
    position: relative;
}

#HeroP, #exhibP, #visitP, #event {
    width: 100%;
}

#explore, #spec    {
    width: 80%;
}

#cosmo, #robo, #evo, #eco, #med, #teach, #scientist, #night, #energ  {
    width: 60%;
}

#htxt   {
    position: absolute;
}




}



@media (min-width: 481px) {
    



#HeroP, #exhibP, #visitP {
    display: none;
}

#Hero, #exhibT, #visit, #event,  {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1  {
    font-size: 28px;
}

h2  {
    font-size: 22px;
}

p   {
    font-size: 14px;
}


}


@media (min-width: 768px) {
    

#exhibT,#cosmo  {
    display: none;
}

#exhibD, #cosmoD    {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


    h1  {
        font-size: 32px;
    }
    
    h2  {
        font-size: 24px;
    }
    
    p   {
        font-size: 14px;
    }
  


}