* {
    box-sizing: border-box;
}

@media (min-width: 480px)   {
    
/*
body    {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'header'
        'top'
        'lowtop'
        'topmiddle'
        'middle'
        'lowmiddle'
        'toplow'
        'low'
        'lowlow'
        'bottom'
        'footer';
        min-width: 200px;
        grid-template-areas:    "header"
                                "top"
                                "lowtop"
                                "topmiddle"
                                "middle"
                                "lowmiddle"
                                "toplow"
                                "low"
                                "lowlow"
                                "bottom"
                                "footer";
}

*/

.respond    {
    border: none;
    max-width: 480px;
}

section#header  {
    position: relative;
}

#logo   {
    height: 10px;
    margin: 5px 0 4px 0;
    align-items: center;
}

#headerdivide {
    margin: 0%;
}

#Hero, #exhibT, #exhibD, #visit, #cosmoD    {
    display: none;
}

section#top {
    position: relative;
}

#HeroP  {
    display: grid;
    position: absolute;
}

#htxt   {
    position: absolute;
}

section#lowtop  {
    position: relative;
}

section#topmiddle   {
    position: relative;
}

section#middle  {
    position: relative;
}

section#lowmiddle   {
    position: relative;
}

section#toplow  {
    position: relative;
}

section#low {
    position: relative;
}

section#lowlow  {
    position: relative;
}

section#bottom  {
    position: relative;
}

section#footer  {
    position: relative;
}



}



@media (min-width: 481px) {
    



#HeroP, #exhibP, #exhibD, #visitP, #cosmoD {
    display: none;
}


section#lowtop  {
    position: relative;
}

section#topmiddle   {
    position: relative;
}

section#middle  {
    position: relative;
}

section#lowmiddle   {
    position: relative;
}

section#toplow  {
    position: relative;
}

section#low {
    position: relative;
}

section#lowlow  {
    position: relative;
}

section#bottom  {
    position: relative;
}

section#footer  {
    position: relative;
}


}


@media (min-width: 768px) {
    


    section#lowtop  {
        position: relative;
    }
    
    section#topmiddle   {
        position: relative;
    }
    
    section#middle  {
        position: relative;
    }
    
    section#lowmiddle   {
        position: relative;
    }
    
    section#toplow  {
        position: relative;
    }
    
    section#low {
        position: relative;
    }
    
    section#lowlow  {
        position: relative;
    }
    
    section#bottom  {
        position: relative;
    }
    
    section#footer  {
        position: relative;
    }


}